body {
  background: linear-gradient( #243766, #294089, #2865bb);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quiz-container {
  max-width: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  animation: fade-in 1s ease;
}

h1 {
  text-align: center;
  margin-top: 0;
  animation: slide-down 1s ease;
}

@keyframes slide-down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

#question {
  font-size: 20px;
  margin-bottom: 10px;
  animation: fade-in 1s ease;
}

.options {
  list-style-type: none;
  padding: 0;
  opacity: 0;
}

.options li {
  margin-bottom: 10px;
  animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.correct {
  background-color: #4caf50;
}

.incorrect {
  background-color: #f44336;
}

.options li button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #3f51b5;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options li button:hover {
  background-color: #e0e0e0;
}

#submit-btn {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #fff;
  color: #3f51b5;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  animation: fade-in 1s ease;
}

#submit-btn:hover {
  background-color: #e0e0e0;
}
.voltar{
  color: #fff;
  text-decoration: none;
}
@media  screen and (max-width: 1030px)  {
  #quiz-container{
    
      max-width: 90%;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      animation: fade-in 1s ease;
    
  }
  
}
