* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 32px;
    padding: 15px;
}

.game-board {
    position: relative;
    margin: 50px auto;
    width: 412px;
    height: 800px;
    border: solid 1px #333;
    border-radius: 5px;
    overflow: hidden;
    /* background: linear-gradient(#f3b480, #63b9eb) ; */
    background-image: url('./assetsJogo/background.png');
    background-repeat: no-repeat;
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    font-family: sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
    z-index: 9;
    color: red;
    transition: all 1.5s;
}

button {
    margin-top: 50px;
    padding: 10px;
    cursor: pointer;
}

.game-over-info {
    color: #FFF;
    transition: color 1.5s
}

.game-over span {
    opacity: 1;
    z-index: 20;
}


.lixeira {
    position: absolute;
    width: 100%;
    top: -250px;
    animation: dump-animation 2s infinite linear;
    z-index: 2;
}

@keyframes dump-animation {
    0% {
        left: 0%;
    }

    50% {
        left: 100px;
    }

    100% {
        left: 0%;
    }
}

.paper {
    position: absolute;
    width: 50px;
    left: 50%;
    z-index: 0;
    animation: paper-animation 5s infinite linear;
}

.paper-animation {
    animation: paper-animation 5s infinite linear;
}

.apple {
    position: absolute;
    width: 50px;
    left: 25%;
    z-index: 0;
    animation: apple-animation 2.5s infinite linear;
}

.apple-animation {
    animation: apple-animation 2.5s infinite linear;
}

.bottle {
    position: absolute;
    width: 30px;
    left: 75%;
    z-index: 0;
    animation: bottle-animation 4s infinite linear;      
}

#mark {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 50px;
}

.bottle-animation {
    animation: bottle-animation 4s infinite linear;
}

@keyframes paper-animation {
    0% {
        bottom: 100%;
    }

    50% {
        bottom: 400px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes apple-animation {
    0% {
        bottom: 90%;
    }

    50% {
        bottom: 400px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes bottle-animation {
    0% {
        bottom: 100%;
    }

    50% {
        bottom: 400px;
    }

    100% {
        bottom: 0px;
    }
}

.eliminado {
    display: none;
}

